.carrito{
    display: flex;
    flex-direction: column;
    margin: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(255, 202, 56);
}
tr {
    background-color: white;
}
tr:hover {
    background-color: #f5f5f5;
}
a {
    text-decoration: none;
    color: black;
}
.product{

    display: flex;
    justify-content: start;
    align-items: center;
}

.precio-total {
    height: 100%;
    width: 35%;
    background-color: #f2f2f2;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(255, 202, 56);
    border-style: solid; /* Asegúrate de definir el estilo del borde */
    padding: 10px; /* Opcional: agrega un poco de padding para mejor apariencia */
}

.precio-total .subtotal, .precio-total .envio {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.precio-total .total {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.precio-total .button {
    display: flex;
    justify-content: flex-end;
}

.precio-total button{
    background-color: rgb(255, 202, 56);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.delete {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.delete:hover {
    color: darkred;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.billing-information {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.billing-tittle{
    margin-top: 10px;
    margin-left: 2em;
}
.billing-information h1, .billing-information h2 {
    margin-bottom: 10px;
}

.billing-information ul {
    list-style-type: none;
    padding: 0;
}

.billing-information li {
    margin-bottom: 5px;
}

.billing-information .add-address {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(255, 202, 56);
    border-radius: 10px;
    padding: 0 5px;
}

.billing-information .add-address:hover {
    background-color: rgb(245, 194, 55);
}


.billing-information form {
    margin-top: 10px;
}

.billing-information input {
    padding: 5px;
    margin-right: 10px;
}

.format-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.payment-method{
    margin-top: 30px;
}
.address-list {
    margin-bottom: 20px;
}

.address-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.address-item:hover {
    background-color: #f0f0f0;
}

.address-item.selected {
    background-color: #d0eaff;
    border-color: #007bff;
}

.address-list, .payment-method-list {
    margin-bottom: 20px;
}

.address-item, .payment-method-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.address-item:hover, .payment-method-item:hover {
    background-color: #f0f0f0;
}

.address-item.selected, .payment-method-item.selected {
    background-color: #d0eaff;
    border-color: #007bff;
}

.billing-table {
    margin-left: 3em;
    width: 50%;
    margin-bottom: 0;
}
.billing-resume{
    margin-left: 3em;
    
}
