footer{
    background-color: #333;
    color: white;
    display: flex;
    padding: 2em;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
footer .tittle{
    padding-bottom: 1em;
}
footer .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .exclusive-container{
    padding: 1em;
}
footer .exclusive-container a{
    color: white;
    text-decoration: underline;
}

footer .contact-container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .account-container{
    min-width: 10em;
    padding: 1em;
}

footer .social-container{
    padding: 1em;
}
footer .social-container .content{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
 

footer a, footer p{
    color: white;
    text-decoration: none;
    padding-bottom: 0.5em;
}