.search-result {
    cursor: pointer; /* Cambia el cursor para indicar que es clicable */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.search-result:hover {
    background-color: #f0f0f0; /* Cambia el fondo al pasar el mouse */
}