.links {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.links nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links nav ul {
    display: flex;
    justify-content: flex-start;
}


.links nav ul li {
    display: flex;
    justify-content: left;
    margin-left: 2em;
    color: black;
    font-size: large;
}

.links nav ul li a {
    text-decoration: none;
    color: black;
}