.conteiner2 {
    width: 686px;
    height: 423px;
    margin: 0 auto;
}

.sliderStyle {
    margin-top: 30px;
    position: relative;
    height: 100%;
    size: 200px;
}

.slideStyle {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.flechaIzq {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 1px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.flechaDer {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 1px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}