.product{
    display: flex;
}
.product img {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    width: 40em;
    height: auto;
    margin-right: 20px;
    border-radius: 20px;
}

.product-price {
    font-size: 24px;
    margin: 0.2em 0;   
}

.product-brand {
    font-size: 20px;
    font-weight: 300px;
    margin: 0.2em 0;
}

.product-category {
    font-size: 20px;
    margin: 0.2em 0;
}

.product-description {
    margin: 0.2em 0;
    font-size: 16px;
    color: #666;
}



.quantity-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background-color: rgb(255, 202, 56);
    width: 30px;
    height: 30px;
    color: black;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}
.quantity-controls button:hover {
    background-color: rgb(245, 194, 53);
}

.quantity-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-controls input {
    width: 30px;
    text-align:right;
    
    margin: 0 ;
    height: 30px;
    font-size: 16px;
}

.add-to-cart, .edit-button, .delete-button{
    background-color: rgb(255, 202, 56);
    height: 30px;
    color: black;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 1em;
}

.edit-button {
    background-color: greenyellow !important;
}

.delete-button {
    background-color: red !important;
}

.add-to-cart:hover .edit-button, .delete-button{
    background-color: rgb(245, 194, 53);
}

.alert {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    border-radius: 5px;
}