* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 235, 190);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
  text-decoration: none;
}

